html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    --main-color: #AAC789;
    --secondary-color: #1E4147;
}


.models-info-table{
    border: solid #000 1px;
}

.empty-text-default{
    visibility: hidden;
}

.empty-text-visible{
    visibility: initial;
}