@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
footer{
    background-image:url("https://my.informatics.ru/media/ck_uploads/mushta/2017/01/23/parallax1.jpg");
    width:100%;
    min-height:720px;
    min-width:2050px;
    margin:0px;
    margin:auto;
    margin-bottom:20px;
}
body{
    background-color:#18171B; 
    margin:0px;
    padding:0px;
    justify-content:center;
}
.h3img{
    font-family: 'Roboto Condensed', sans-serif;
    display:flex;
    min-width:1180px;
    justify-content:center;
    background-color:#18171B;
    align-items:center;
}
.intro{
    width:500px;
    margin:0px;
    margin-right:5px;
    padding:0px;
    padding-right:5px;
}
h1{
    font-weight:900;
    color:#ffffff;
    font-size:36px;
}
.ev{
    width: 1170px;
    margin:  auto;
    text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:700;
	font-size:30px;
    margin-bottom:20px;
	color:#FFFFFF;
    font-size:40px;
}
.energy{
    letter-spacing: 2px;
    font-weight:700;
    font-size:30px;
    color:#787488;
}
.about{
    font-weight:500;
    font-size:20px;
    color:#787488;
}    
pictures{
    width:670px;
    display:inline-block;
}
.events{
    width:1180px;
    height:420px;
    display:flex;
    margin:auto;
    justify-content:flex-around;
    margin:auto;
}
.column{
    display:flex;
    margin-right:30px;
    flex-direction:column;
}
.poster{
    width:571px;
    max-height:300px;
    margin:0px;
    margin-top:10px;
    padding:0px;
}
.date{
    display:flex;
    flex-direction:row;
}
.time{
    margin-left:2px;
    width:150px;
    background-color: #F0F54B;
}
.time h2{
    font-family: 'Roboto Condensed', sans-serif;
	font-weight:700;
    color:#F0F54B;
    background-color:#242329;
    height:50px;
    margin:0px;
	font-size:30px;
    display:flex;
    justify-content:center;
}
.desc{
    height:100px;
    width:409px;
    line-height: 100px;
    margin:0;
    font-size:20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#F0F54B;
    padding:0px 5px;
}
.rewiev{
	min-width:1200px;
	min-height:600px;
	display:flex;
	justify-content:center;
	margin-bottom:10px;
}
.rew{
	color: #D91D52;
	font-size:30px;
	font-weight:900;
}
h2+p{
	color: #D91D52;
	font-size:20px;
}
.line{
	font-family: 'Roboto Condensed', sans-serif;
	display:flex;
	background-color:white;
	margin:0px;
	max-height:600px;
	flex-direction:column;
}
.txt{
	background-color:#FFFFFF;
	max-width:370px;
	height:300px;
	text-align:center;
}
.art{
	max-width:370px;
	height:300px;
}
.int{
	letter-spacing:3px;
	font-size:26px;
}
.short{
	font-size:20px;
	font-weight:400;
}
.linenocolumn{
    margin:auto;
	margin-top:30px;
	max-width:1170px;
	height:300px;
	font-family: 'Roboto Condensed', sans-serif;
	display:flex;
	align-items:center;
	background-color:white;
    margin-bottom:30px;
}
.pic1{
    height:300px;
    width:800px;
}
.otzyv{
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    max-width:1041px;
    max-height:565px;
}
.row{
    width:1041px;
    height:270px;
    display:flex;   
}
.block{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:white;
    display:flex;
    width:508px;
    margin:0px;
}
.space{
    margin:0px;
    margin-top:25px;
}
.right{
    margin-right:25px;
}
.text{
    padding:0px 5px;
    font-weight:500;
    font-size:22px;
}
.text>h2{
    color: #D91D52;
    padding-top:30px;
    font-size:26px;
	letter-spacing:3px;
    vertical-align:bottom;
}
