@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
    background-image: url("/pic/zhaba.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-size: 5%;
}


.opened{
    display: block;
}