.App {
  text-align: center;
}

.Container{
  display: inline-flex;
  width: 80vw;
  background: radial-gradient(circle at 50% 50%, rgba(204,62,62, 100) 0%, rgba(86,61,124, 100) 100%, rgba(50,195,53, 100) 21%, rgba(211,187,29, 100) 7%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.profile{
  border: 3px solid #FA36A0;
  background-color: turquoise;
  margin: 10px;
}

.merch{
  border: 5px solid;
  border-color: radial-gradient(ellipse at 50% 50%, rgba(191,186,49, 100) 0%, rgba(86,61,124, 100) 100%, rgba(207,42,202, 100) 45%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
